__pycache__/
cases_logs/
Clinics/clinic_logs/
Invoices/invoice_logs/
Users/user_log/
logs/
Env/
Payments/
Backup/
voxel_not_null_verify/
zINFO/
.env

INFO_win.txt
Info_windows.txt
leftoutuser.py
postgres.py
MIGRATION_SEQUENCE_ANALYSIS.md
voxel_filtered.sql
Voxel_Migration.zip